<html lang = "en">
    <body>
        <main>
            <header>
                <h1>Login</h1>
            </header>
            <form id = "login-form" action = /login  method = "POST">
                <label for = "username">User Name</label>
                <input id = "username" type = "text" name = "username"><br>
                <label for = "password">Password</label>
                <input id = "password" type = "password" name = "password"><br>
                <button id = "submit" type ="submit">Login</button>
            </form>
            <p>{{error}}</p>
            <div>
                <a href="/signup">Need to register? Click here to sign-up</a>
            </div>
        </main>
        <footer>Rishikesh Yadav 20007668</footer>
    </body>
</html>