<html lang = "en">
    <head>
        <meta character = "UTF-8">
        <title>SignUp</title>
    </head>
    <body>
        <main>
            <header>
                <h1>SignUp</h1>
            </header>
            <form id = "signup-form" action = /signup  method = "POST">
                <label for = "username">User Name</label>
                <input id = "username" type = "text" name = "username"><br>
                <label for = "password">Password</label>
                <input id = "password" type = "password" name = "password"><br>
                <button id = "submit" type ="submit">SignUp</button>
            </form>
            <p>{{error}}</p>
            <div>
                <a href="/">Already have an account? Click here to log-in</a>
            </div>
        </main>
        <footer>Rishikesh Yadav 20007668</footer>
    </body>
</html>