<h1>{{title}}</h1>
<main>
    <p>This Marvel Comics API allows you to access information about Marvel's vast library of characters—from what's coming up, to 70 years ago.</p>
    <form  method="POST" action="/search" class="">
        <label class="searchCharacter"> 
            Search Character:
            <input type="text" name="searchCharacter" placeholder="Search character here" class="searchCharacter"/>
        </label>
        <input class="search-button" type="submit"/>
    </form>
</main>